/* Add this CSS in your stylesheets or use a CSS-in-JS solution */

.sidebar {
  min-width: 18rem;
  min-height: 100rem;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  padding-top: 20px;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.navigation {
  margin-top: 20px;
}

.navigation-2 {
  margin-top: 40px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
  text-align: left;
  margin-left: 35px;
}

a {
  text-decoration: none !important;
  color: #fff !important; /* White text */
  font-size: 12px;
  transition: color 0.3s ease; /* Smooth transition for color changes */
}

a:hover {
  color: #66d9ff !important; /* Light blue on hover */
}

a.active {
  color: #66d9ff !important; /* Light blue for active state */
}

/* Adjust the icon size if needed */
i {
  margin-right: 10px !important;
  font-size: 1.3em;
}
